@page "/home"
@page "/"

<div class="mastergrids">
    <div class="BRAMR-animatiegrid">

        <button class="popUp-btn-inlog" @onclick="@(() => { ShowModal = !ShowModal; })">Login</button>

        <div class="container-home">

            <nav class="navbar-home">
                <ul>
                    <li><a href="#home" @onclick="_Home">Home</a></li>
                    <li><a href="#about" @onclick="About">About</a></li>
                    <li><a href="#meetTheTeam" @onclick="MeetTheTeam">Meet The Team</a></li>
                </ul>
            </nav>

            <section id="home">
                <svg version="1.1" id="achtergrond-home" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                     y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1020;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        opacity: 0.1;
                    }

                    .st1 {
                        fill: #282828;
                        stroke: #898989;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st2 {
                        fill: none;
                        stroke: #898989;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st3 {
                        fill: #898989;
                    }

                    .st4 {
                        fill: #282828;
                    }

                    .st5 {
                        fill: none;
                        stroke: #282828;
                        stroke-miterlimit: 10;
                    }

                    .st6 {
                        fill: none;
                        stroke: #898989;
                        stroke-miterlimit: 10;
                    }

                    .st7 {
                        fill: none;
                        stroke: #282828;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st8 {
                        fill: #515150;
                        stroke: #898989;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st9 {
                        fill: none;
                        stroke: #FFFFFF;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st10 {
                        fill: url(#SVGID_1_);
                    }

                    .st11 {
                        fill: #FFFFFF;
                    }
</style>
                <g id="achtergrond-home-vast">
                <g class="st0">
                <rect x="-65.5" y="0.5" transform="matrix(0.5 -0.866 0.866 0.5 -55.3686 212.7099)" class="st1" width="444" height="307.6" />



                <rect x="-17.2" y="165.2" transform="matrix(0.866 0.5 -0.5 0.866 112.8328 12.0889)" class="st2" width="102" height="102.7" />



                <path class="st3" d="M198,155.7L56.1,73.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l141.9,81.9
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C211.1,157,203.7,159,198,155.7z" />



                <path class="st3" d="M248.4,242.6L31,117.2c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l217.4,125.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C261.5,244,254.1,245.9,248.4,242.6z" />



                <rect x="112" y="240.3" transform="matrix(0.866 0.5 -0.5 0.866 167.6974 -42.446)" class="st2" width="102" height="102.7" />



                <rect x="91.1" y="-36.2" transform="matrix(0.866 0.5 -0.5 0.866 41.3672 -114.1744)" class="st3" width="285.3" height="112.6" />



               </g>
                <g class="st0">
                <rect x="270.2" y="749.6" transform="matrix(0.5 -0.866 0.866 0.5 -536.2888 877.9169)" class="st1" width="444" height="307.6" />



                <rect x="318.5" y="914.3" transform="matrix(0.866 0.5 -0.5 0.866 532.3445 -55.3648)" class="st2" width="102" height="102.7" />



                <path class="st3" d="M533.6,904.8l-141.9-81.9c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l141.9,81.9
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C546.7,906.1,539.3,908.1,533.6,904.8z" />



                <path class="st3" d="M584,991.7L366.7,866.3c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l217.4,125.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C597.1,993.1,589.7,995,584,991.7z" />



                <rect x="447.7" y="989.4" transform="matrix(0.866 0.5 -0.5 0.866 587.2091 -109.8997)" class="st2" width="102" height="102.7" />






                   
                <rect x="426.7" y="712.9" transform="matrix(0.866 0.5 -0.5 0.866 460.8789 -181.6281)" class="st3" width="285.3" height="112.6" />



               </g>
                <g class="st0">
                <rect x="987.2" y="167.8" transform="matrix(0.5 -0.866 0.866 0.5 326.0853 1207.9913)" class="st1" width="444" height="307.6" />






                   
                <rect x="1035.5" y="332.5" transform="matrix(0.866 0.5 -0.5 0.866 337.5093 -491.8313)" class="st2" width="102" height="102.7" />



                <path class="st3" d="M1250.7,323L1108.8,241c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l141.9,81.9
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1263.8,324.3,1256.4,326.3,1250.7,323z" />



                <path class="st3" d="M1301,409.9l-217.4-125.5c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l217.4,125.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1314.1,411.3,1306.8,413.2,1301,409.9z" />






                   
                <rect x="1164.7" y="407.6" transform="matrix(0.866 0.5 -0.5 0.866 392.3739 -546.3661)" class="st2" width="102" height="102.7" />






                   
                <rect x="1143.7" y="131.1" transform="matrix(0.866 0.5 -0.5 0.866 266.0437 -618.0945)" class="st3" width="285.3" height="112.6" />



               </g>
                <g class="st0">
                   
                <rect x="1600.1" y="453.6" transform="matrix(0.5 -0.866 0.866 0.5 385.0365 1881.6149)" class="st1" width="444" height="307.6" />



                <rect x="1648.4" y="618.3" transform="matrix(0.866 0.5 -0.5 0.866 562.495 -759.9722)" class="st2" width="102" height="102.7" />



                <path class="st3" d="M1863.5,608.7l-141.9-81.9c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l141.9,81.9
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1876.6,610,1869.2,612,1863.5,608.7z" />



                <path class="st3" d="M1913.9,695.7l-217.4-125.5c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l217.4,125.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1927,697,1919.6,699,1913.9,695.7z" />






                   
                <rect x="1777.6" y="693.4" transform="matrix(0.866 0.5 -0.5 0.866 617.3596 -814.5071)" class="st2" width="102" height="102.7" />






                   
                <rect x="1756.6" y="416.9" transform="matrix(0.866 0.5 -0.5 0.866 491.0294 -886.2355)" class="st3" width="285.3" height="112.6" />



               </g>
                <g class="st0">
                <rect x="289.7" y="51.1" transform="matrix(0.5 -0.866 0.866 0.5 78.3745 545.5638)" class="st1" width="444" height="307.6" />






                   
                <rect x="250.2" y="134.1" transform="matrix(-0.5 0.866 -0.866 -0.5 801.3364 -81.8712)" class="st3" width="348.2" height="112.6" />



                <circle class="st3" cx="531.6" cy="3.7" r="23.3" />



                <path class="st4" d="M499.8,87.7l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C506.9,88.5,502.9,89.5,499.8,87.7z" />



                <path class="st4" d="M482.9,115.9l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C490,116.6,486,117.7,482.9,115.9z" />



                <path class="st4" d="M466.4,144.7l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C473.5,145.5,469.5,146.5,466.4,144.7z" />



                <path class="st4" d="M449.1,175.6l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C456.1,176.3,452.2,177.4,449.1,175.6z" />



                <circle class="st5" cx="360.3" cy="300.7" r="34.7" />






                   
                <rect x="519.9" y="102.5" transform="matrix(0.866 0.5 -0.5 0.866 160.1367 -280.1274)" class="st6" width="165.8" height="112.6" />



                <rect x="543.5" y="117.9" transform="matrix(0.866 0.5 -0.5 0.866 159.357 -279.7818)" class="st6" width="116.5" height="79.1" />



                <path class="st3" d="M598.9,306.4l-119.2-68.8c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l119.2,68.8
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C606,307.1,602,308.2,598.9,306.4z" />



                <path class="st3" d="M542.3,312.4l-78.9-45.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l78.9,45.6
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C549.4,313.2,545.4,314.2,542.3,312.4z" />



                <path class="st3" d="M528.1,341.9l-78.9-45.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l78.9,45.6
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C535.2,342.6,531.2,343.7,528.1,341.9z" />



                <path class="st3" d="M550.2,391.6l-117.5-67.8c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l117.5,67.8
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C557.3,392.3,553.3,393.4,550.2,391.6z" />



               </g>
                <g class="st0">
                <rect x="737.6" y="-58.7" transform="matrix(0.5 -0.866 0.866 0.5 397.4209 878.637)" class="st1" width="444" height="307.6" />






                   
                <rect x="698.2" y="24.3" transform="matrix(-0.5 0.866 -0.866 -0.5 1378.2361 -634.4758)" class="st3" width="348.2" height="112.6" />



                <circle class="st3" cx="979.6" cy="-106.1" r="23.3" />



                <rect x="894.6" y="-52.4" transform="matrix(0.866 0.5 -0.5 0.866 102.669 -470.076)" class="st4" width="67.8" height="17.9" />



                <rect x="877.7" y="-24.2" transform="matrix(0.866 0.5 -0.5 0.866 114.4713 -457.8381)" class="st4" width="67.8" height="17.9" />



                <rect x="861.2" y="4.6" transform="matrix(0.866 0.5 -0.5 0.866 126.6825 -445.7353)" class="st4" width="67.8" height="17.9" />



                <rect x="843.9" y="35.4" transform="matrix(0.866 0.5 -0.5 0.866 139.7808 -432.9377)" class="st4" width="67.8" height="17.9" />



                <circle class="st5" cx="808.3" cy="190.9" r="34.7" />






                   
                <rect x="967.9" y="-7.3" transform="matrix(0.866 0.5 -0.5 0.866 165.2708 -518.8198)" class="st6" width="165.8" height="112.6" />



                <rect x="991.5" y="8.1" transform="matrix(0.866 0.5 -0.5 0.866 164.4911 -518.4742)" class="st6" width="116.5" height="79.1" />






                   
                <rect x="916.4" y="145.5" transform="matrix(0.866 0.5 -0.5 0.866 210.1023 -475.1643)" class="st3" width="150.6" height="17.9" />






                   
                <rect x="903.2" y="163.2" transform="matrix(0.866 0.5 -0.5 0.866 214.0526 -454.5744)" class="st3" width="104.2" height="17.9" />



                <rect x="889" y="192.7" transform="matrix(0.866 0.5 -0.5 0.866 226.8831 -443.5213)" class="st3" width="104.2" height="17.9" />






                   
                <rect x="869.5" y="231.3" transform="matrix(0.866 0.5 -0.5 0.866 246.5549 -439.7497)" class="st3" width="148.7" height="17.9" />



               </g>
                <g class="st0">
                   
                <rect x="1026.8" y="776.2" transform="matrix(0.5 -0.866 0.866 0.5 -181.0084 1546.4226)" class="st1" width="444" height="307.6" />






                   
                <rect x="987.3" y="859.1" transform="matrix(-0.5 0.866 -0.866 -0.5 2534.8748 367.3931)" class="st3" width="348.2" height="112.6" />



                <circle class="st3" cx="1268.7" cy="728.8" r="23.3" />



                <path class="st4" d="M1236.9,812.8l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1244,813.5,1240,814.6,1236.9,812.8z" />



                <path class="st4" d="M1219.9,840.9l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1227,841.7,1223.1,842.7,1219.9,840.9z" />



                <path class="st4" d="M1203.5,869.8l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1210.6,870.5,1206.6,871.6,1203.5,869.8z" />



                <path class="st4" d="M1186.1,900.6l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1193.2,901.4,1189.2,902.4,1186.1,900.6z" />



                <circle class="st5" cx="1097.4" cy="1025.7" r="34.7" />






                   
                <rect x="1257" y="827.5" transform="matrix(0.866 0.5 -0.5 0.866 621.4172 -551.5265)" class="st6" width="165.8" height="112.6" />



                <rect x="1280.6" y="843" transform="matrix(0.866 0.5 -0.5 0.866 620.6375 -551.1808)" class="st6" width="116.5" height="79.1" />



                <path class="st3" d="M1336,1031.4l-119.2-68.8c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l119.2,68.8
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1343,1032.2,1339.1,1033.2,1336,1031.4z" />



                <path class="st3" d="M1279.4,1037.5l-78.9-45.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l78.9,45.6
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1286.5,1038.2,1282.5,1039.3,1279.4,1037.5z" />



                <path class="st3" d="M1265.2,1067l-78.9-45.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l78.9,45.6
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1272.3,1067.7,1268.3,1068.8,1265.2,1067z" />



                <path class="st3" d="M1287.3,1116.7l-117.5-67.8c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l117.5,67.8
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1294.3,1117.4,1290.4,1118.5,1287.3,1116.7z" />



               </g>
                <g class="st0">
                   
                <rect x="1489.2" y="-30.8" transform="matrix(0.5 -0.866 0.866 0.5 749.1019 1543.4376)" class="st1" width="444" height="307.6" />






                   
                <rect x="1449.7" y="52.2" transform="matrix(-0.5 0.866 -0.866 -0.5 2529.7046 -1243.6052)" class="st3" width="348.2" height="112.6" />



                <circle class="st3" cx="1731.2" cy="-78.2" r="23.3" />



                <path class="st4" d="M1699.4,5.8l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1706.4,6.5,1702.5,7.6,1699.4,5.8z" />



                <path class="st4" d="M1682.4,34L1635,6.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1689.5,34.7,1685.5,35.8,1682.4,34z" />



                <path class="st4" d="M1665.9,62.8l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1673,63.5,1669,64.6,1665.9,62.8z" />



                <path class="st4" d="M1648.6,93.6l-47.5-27.4c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l47.5,27.4
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1655.7,94.4,1651.7,95.4,1648.6,93.6z" />



                <circle class="st5" cx="1559.8" cy="218.7" r="34.7" />






                   
                <rect x="1719.4" y="20.5" transform="matrix(0.866 0.5 -0.5 0.866 279.8806 -890.8779)" class="st6" width="165.8" height="112.6" />



                <rect x="1743.1" y="36" transform="matrix(0.866 0.5 -0.5 0.866 279.1009 -890.5323)" class="st6" width="116.5" height="79.1" />



                <path class="st3" d="M1798.4,224.4l-119.2-68.8c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l119.2,68.8
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1805.5,225.2,1801.5,226.2,1798.4,224.4z" />



                <path class="st3" d="M1741.9,230.5l-78.9-45.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l78.9,45.6
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1748.9,231.2,1745,232.3,1741.9,230.5z" />



                <path class="st3" d="M1727.6,260l-78.9-45.6c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l78.9,45.6
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1734.7,260.7,1730.8,261.8,1727.6,260z" />



                <path class="st3" d="M1749.7,309.7l-117.5-67.8c-3.1-1.8-4.2-5.8-2.4-8.9l2.4-4.2c1.8-3.1,5.8-4.2,8.9-2.4l117.5,67.8
                       c3.1,1.8,4.2,5.8,2.4,8.9l-2.4,4.2C1756.8,310.4,1752.8,311.5,1749.7,309.7z" />



               </g>
                <g class="st0">
                <rect x="58.2" y="455.8" transform="matrix(0.5 -0.866 0.866 0.5 -387.7917 547.42)" class="st1" width="444" height="307.6" />



                <rect x="200.4" y="406" transform="matrix(0.866 0.5 -0.5 0.866 287.2369 -113.1175)" class="st3" width="308.6" height="146.9" />



                <path class="st7" d="M384.3,528.4l-86.8-50.1c-3.7-2.1-5-6.9-2.9-10.6l19.8-34.2c2.1-3.7,6.9-5,10.6-2.9l86.8,50.1
                       c3.7,2.1,5,6.9,2.9,10.6L395,525.5C392.8,529.2,388,530.5,384.3,528.4z" />



                <path class="st3" d="M228,593.8l-66.7-38.5c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l66.7,38.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C241.1,595.1,233.7,597.1,228,593.8z" />



                <path class="st3" d="M222,797.3l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C235.1,798.6,227.7,800.6,222,797.3z" />



                <path class="st3" d="M288.6,836l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C301.7,837.3,294.3,839.3,288.6,836z" />



                <path class="st3" d="M307.8,719.6l-178-102.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l178,102.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C320.9,720.9,313.5,722.9,307.8,719.6z" />



                <path class="st3" d="M234.6,731.7l-126.7-73.1c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4L251,703.1
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C247.6,733,240.3,735,234.6,731.7z" />



               </g>
                <g class="st0">
                <rect x="502.4" y="343.8" transform="matrix(0.5 -0.866 0.866 0.5 -68.68 876.1534)" class="st1" width="444" height="307.6" />



                <rect x="644.6" y="294" transform="matrix(0.866 0.5 -0.5 0.866 290.7587 -350.2452)" class="st3" width="308.6" height="146.9" />



                <path class="st7" d="M828.6,416.4l-86.8-50.1c-3.7-2.1-5-6.9-2.9-10.6l19.8-34.2c2.1-3.7,6.9-5,10.6-2.9l86.8,50.1
                       c3.7,2.1,5,6.9,2.9,10.6l-19.8,34.2C837.1,417.2,832.3,418.5,828.6,416.4z" />



                <path class="st3" d="M672.3,481.8l-66.7-38.5c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l66.7,38.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C685.4,483.1,678,485.1,672.3,481.8z" />



                <path class="st3" d="M666.3,685.3l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C679.4,686.6,672,688.6,666.3,685.3z" />



                <path class="st3" d="M732.8,724l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C745.9,725.3,738.6,727.3,732.8,724z" />



                <path class="st3" d="M752.1,607.6l-178-102.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l178,102.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C765.2,608.9,757.8,610.9,752.1,607.6z" />



                <path class="st3" d="M678.8,619.7l-126.7-73.1c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l126.7,73.1
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C691.9,621,684.5,623,678.8,619.7z" />



               </g>
                <g class="st0">
                <rect x="755.2" y="575.8" transform="matrix(0.5 -0.866 0.866 0.5 -143.2342 1211.082)" class="st1" width="444" height="307.6" />



                <rect x="896" y="526" transform="matrix(0.866 0.5 -0.5 0.866 440.4558 -444.8623)" class="st3" width="308.6" height="146.9" />



                <path class="st7" d="M1081.3,648.4l-86.8-50.1c-3.7-2.1-5-6.9-2.9-10.6l19.8-34.2c2.1-3.7,6.9-5,10.6-2.9l86.8,50.1
                       c3.7,2.1,5,6.9,2.9,10.6l-19.8,34.2C1089.8,649.3,1085,650.5,1081.3,648.4z" />



                <path class="st3" d="M925,713.8l-66.7-38.5c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l66.7,38.5
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C938.1,715.2,930.8,717.1,925,713.8z" />



                <path class="st3" d="M919,917.3l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C932.1,918.6,924.8,920.6,919,917.3z" />



                <path class="st3" d="M985.6,956l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C998.7,957.4,991.3,959.3,985.6,956z" />



                <path class="st3" d="M1004.9,839.6l-178-102.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l178,102.7
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1018,840.9,1010.6,842.9,1004.9,839.6z" />



                <path class="st3" d="M931.6,851.7l-126.7-73.1c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l126.7,73.1
                       c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C944.7,853,937.3,855,931.6,851.7z" />



               </g>
           </g>
                <g id="achtergrond-home-animatie">
                <g class="whole-card">
                <rect x="1257.9" y="371.2" transform="matrix(0.5 -0.866 0.866 0.5 285.2665 1544.1316)" class="st8" id="card-bg" width="444" height="307.6" />



                <rect x="1400.1" y="321.4" transform="matrix(0.866 0.5 -0.5 0.866 405.7022 -724.2957)" class="st3" id="card-top" width="308.6" height="146.9" />



                <path class="st9" id="icon" d="M1584,443.8l-86.8-50.1c-3.7-2.1-5-6.9-2.9-10.6l19.8-34.2c2.1-3.7,6.9-5,10.6-2.9l86.8,50.1
                   c3.7,2.1,5,6.9,2.9,10.6l-19.8,34.2C1592.5,444.7,1587.7,446,1584,443.8z" />



                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1355.0754" y1="483.7493" x2="1450.1924" y2="483.7493">
                <stop offset="0" style="stop-color:#06FFF8" />



                <stop offset="1" style="stop-color:#00CFFF" />



               </linearGradient>
                <path class="st10" id="blip1" d="M1427.7,517.3l-66.7-38.5c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l66.7,38.5
                   c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1440.8,518.6,1433.4,520.6,1427.7,517.3z" />



                <path class="st11" id="blip2" d="M1421.7,712.7l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                   c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1434.8,714.1,1427.4,716,1421.7,712.7z" />



                <path class="st3" id="blip3" d="M1488.3,751.5l-32.4-18.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l32.4,18.7
                   c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1501.4,752.8,1494,754.8,1488.3,751.5z" />



                <path class="st3" id="blip4" d="M1507.5,635l-178-102.7c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l178,102.7
                   c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1520.6,636.4,1513.3,638.3,1507.5,635z" />



                <path class="st3" id="blip5" d="M1432.3,647.2L1305.6,574c-5.7-3.3-7.7-10.7-4.4-16.4l4.5-7.8c3.3-5.7,10.7-7.7,16.4-4.4l126.7,73.1
                   c5.7,3.3,7.7,10.7,4.4,16.4l-4.5,7.8C1445.4,648.5,1438,650.5,1432.3,647.2z" />



           </g>
           </g>
                </svg>
                <div class="content-home">
                    <h1 class="main-content-home">
                        Are you in need of a professional CV? <br>
                        Would you like edit and host your own portfolio? <br>
                        Start today and try our BRAMR-editing tool!
                    </h1>
                    <a href="Templatepagina.html" class="cta main-content">Start Editor</a>
                </div>
            </section>
            <section id="about">
                <div class="content-about">
                    <h1 class="main-content-about">
                        BRAMR.
                    </h1>
                    <p>
                        Bramr has it's own online editor-tool, with which you can easily <br>
                        and quickly create your own CV or a Portfolio. <br>
                        You'l also be able to host your very own CV or Portfolio through <br>
                        our web hosting server. <br> <br>

                        We are a new company, which started in 2020, <br>
                        Bramr is mainly aimed at students or <br>
                        starting entrepreneurs who are in need of a short-term <br>
                        online CV or Portfolio. <br> <br>

                        What sets us apart from the rest is the online <br>
                        hosting function that is part of our service. <br>
                        Every user is able to host their CV or Portfolio  <br>
                        for 10 days online, through our hosting function. <br>
                        No cost are attached to this feauture. This service <br>
                        is useful for those who are going to have an interview <br>
                        or a final presentation. For a short period of time, <br>
                        the user has a link available to it's hosted resume <br>
                        / portfolio. <br> <br>
                    </p>
                </div>
                <div class="vl-about">
                </div>
                <svg version="1.1" id="illustratie-about" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 963 840" style="enable-background:new 0 0 963 840;" xml:space="preserve">
                <style type="text/css">
                    .st0-about {
                        fill: #FFFFFF;
                    }

                    .st1-about {
                        fill: #D8D4D4;
                    }

                    .st2-about {
                        fill: url(#SVGID_1_);
                    }

                    .st3-about {
                        opacity: 0.36;
                        fill: url(#SVGID_2_);
                    }

                    .st4-about {
                        opacity: 0.1;
                    }

                    .st5-about {
                        stroke: #000000;
                        stroke-miterlimit: 10;
                    }
</style>
                <g id="logo-about">
                <g>
                <path class="st0-about" d="M509.1,399.8l-45.2-25.3c-4.6-2.6-8.4-8.9-8.4-14.1l0.3-88.4l-24,13.5c-6.2,3.5-10,9.9-10,16.8l-0.2,77.2
                                    c0,5.2,3.8,11.5,8.4,14.1l45.2,25.3c2.3,1.3,4.5,1.4,6,0.6l34-19.1C513.6,401.2,511.5,401.1,509.1,399.8z" />



                <polygon class="st1-about" points="421.8,328 421.8,355.7 455.7,336.6 455.8,308.8 		" />



                <path d="M495.9,407.3L450.7,382c-4.6-2.6-8.4-8.9-8.4-14.1l0.3-88.4l-7.6,4.3l-0.3,88.4c0,5.2,3.8,11.5,8.4,14.1l45.2,25.3
                                    c2.3,1.3,4.5,1.4,6,0.6l7.6-4.3C500.4,408.7,498.3,408.6,495.9,407.3z" />



                <path d="M435,283.7l-0.3,88.4c0,5.2,3.8,11.5,8.4,14.1l45.2,25.3c4.6,2.6,8.4,0.5,8.5-4.7L497,354c0-5.2-3.8-11.5-8.4-14.1
                                    L449,317.8c-4.6-2.6-8.4-0.5-8.5,4.7l-0.4-0.2c0-5.4,4-7.6,8.8-4.9l39.5,22.1c4.9,2.7,8.8,9.3,8.8,14.7l-0.2,52.8
                                    c0,5.4-4,7.6-8.8,4.9l-45.2-25.3c-4.9-2.7-8.8-9.3-8.8-14.7l0.3-88.4L435,283.7z" />



                <path class="st0-about" d="M508.3,327.8l-39.5-22.1c-2.4-1.4-4.7-1.5-6.3-0.6l-34,19.1c1.6-0.9,3.8-0.8,6.3,0.6l39.5,22.1
                                    c4.9,2.7,8.8,9.3,8.8,14.7l-0.2,52.8c0,2.7-1,4.6-2.6,5.5l34-19.1c1.6-0.9,2.6-2.8,2.6-5.5l0.2-52.8
                                    C517.1,337.1,513.1,330.5,508.3,327.8z" />



                <path d="M495.1,335.2l-39.5-22.1c-2.4-1.4-4.7-1.5-6.3-0.6l-7.6,4.3c1.6-0.9,3.8-0.8,6.3,0.6l39.5,22.1c4.9,2.7,8.8,9.3,8.8,14.7
                                    l-0.2,52.8c0,2.7-1,4.6-2.6,5.5l7.6-4.3c1.6-0.9,2.6-2.8,2.6-5.5l0.2-52.8C503.9,344.6,499.9,338,495.1,335.2z" />



                            </g>
                        </g>
                <g id="design-about">
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="375" y1="499.5" x2="572" y2="499.5">
                <stop offset="0" style="stop-color:#06FFF8" />



                <stop offset="1" style="stop-color:#00CFFF" />



                            </linearGradient>
                <path class="st2-about" d="M473.5,443c-54.4,0-98.5,19-98.5,42.5v28c0,23.5,44.1,42.5,98.5,42.5s98.5-19,98.5-42.5v-28
                                C572,462,527.9,443,473.5,443z" />



                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="472.6337" y1="524" x2="472.6337" y2="267.7157">
                <stop offset="0.164" style="stop-color:#6CE3FF" />



                <stop offset="0.2429" style="stop-color:#5FC3DA" />



                <stop offset="0.3804" style="stop-color:#4A90A1" />



                <stop offset="0.5136" style="stop-color:#396670" />



                <stop offset="0.6389" style="stop-color:#2C454B" />



                <stop offset="0.7547" style="stop-color:#222D30" />



                <stop offset="0.8573" style="stop-color:#1C1F20" />



                <stop offset="0.9362" style="stop-color:#1A1A1A" />



                            </linearGradient>
                <path class="st3-about" d="M472.5,524c0,0,95-0.5,98.5-42.5s49.4-213.2,49.4-213.6s-295.6,0-295.6,0L374,481.5
                                C374,481.5,385.5,518.5,472.5,524z" />



                        </g>
                <g id="logo_x3D_about-schaduw">
                <g id="logo-about-schaduw-groep" class="st4-about">
                <path class="st5-about" d="M496.1,490.3l-33.3-6.8c-3.4-0.7-4.2-2.4-1.7-3.8l42.1-23.9l-30.4,3.7c-7.8,0.9-14.7,2.7-17.9,4.5l-36.8,20.9
                                    c-2.5,1.4-1.7,3.1,1.7,3.8l33.3,6.8c1.7,0.4,3.8,0.4,5.7,0.2l43-5.2C499.9,490.7,497.8,490.7,496.1,490.3z" />



                <polygon class="st5-about" points="442.8,470.9 429.6,478.4 472.6,473.3 485.8,465.8 		" />



                <path class="st5" d="M479.4,492.4l-33.3-6.8c-3.4-0.7-4.2-2.4-1.7-3.8l42.1-23.9l-9.6,1.1l-42.1,23.9c-2.5,1.4-1.7,3.1,1.7,3.8
                                    l33.3,6.8c1.7,0.4,3.8,0.4,5.7,0.2l9.6-1.1C483.2,492.7,481.1,492.7,479.4,492.4z" />



                <path class="st5-about" d="M476.9,459l-42.1,23.9c-2.5,1.4-1.7,3.1,1.7,3.8l33.3,6.8c3.4,0.7,8.2,0.1,10.7-1.3l25.2-14.3
                                    c2.5-1.4,1.7-3.1-1.7-3.8l-29.1-6c-3.4-0.7-8.2-0.1-10.7,1.3l-0.3-0.1c2.6-1.5,7.6-2.1,11.1-1.3l29.1,6c3.6,0.7,4.4,2.5,1.8,4
                                    l-25.2,14.3c-2.6,1.5-7.6,2.1-11.1,1.3l-33.3-6.8c-3.6-0.7-4.4-2.5-1.8-4l42.1-23.9L476.9,459z" />



                <path class="st5-about" d="M529.3,470.9l-29.1-6c-1.8-0.4-4-0.4-6-0.2l-43,5.2c2-0.2,4.2-0.2,6,0.2l29.1,6c3.6,0.7,4.4,2.5,1.8,4
                                    l-25.2,14.3c-1.3,0.7-3.2,1.2-5.2,1.5l43-5.2c2-0.2,3.9-0.8,5.2-1.5l25.2-14.3C533.7,473.4,532.9,471.6,529.3,470.9z" />



                <path class="st5-about" d="M512.6,472.9l-29.1-6c-1.8-0.4-4-0.4-6-0.2l-9.6,1.1c2-0.2,4.2-0.2,6,0.2l29.1,6c3.6,0.7,4.4,2.5,1.8,4
                                    l-25.2,14.3c-1.3,0.7-3.2,1.2-5.2,1.5l9.6-1.1c2-0.2,3.9-0.8,5.2-1.5l25.2-14.3C517,475.4,516.1,473.6,512.6,472.9z" />



                            </g>
                        </g>
                </svg>
            </section>
            <section id="meetTheTeam">
                <div class="col-MTT">
                    <div class="card-MTT card1">
                        <img class="img-fluid" src="https://picsum.photos/200/300?random=2">
                        <h1>Mathijs Jansen</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quisquam qui voluptatem!</p>
                    </div>
                    <div class="card-MTT card2">
                        <img class="img-fluid" src="https://picsum.photos/200/300?random=2">
                        <h1>Art Nooijen</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quisquam qui voluptatem!</p>
                    </div>
                    <div class="card-MTT card3">
                        <img class="img-fluid" src="https://picsum.photos/200/300?random=2">
                        <h1>Boris Mulder</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quisquam qui voluptatem!</p>
                    </div>
                    <div class="card-MTT card4">
                        <img class="img-fluid" src="https://picsum.photos/200/300?random=2">
                        <h1>Robbie Muit</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quisquam qui voluptatem!</p>
                    </div>
                    <div class="card-MTT card5">
                        <img class="img-fluid" src="https://picsum.photos/200/300?random=2">
                        <h1>Ruben Otter</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quisquam qui voluptatem!</p>
                    </div>
                </div>
            </section>

            <div class="container" id="container" style="@(ShowModal ? "display:block; z-index:1;" : "display:none; z-index:0;")">
                <div class="form-container sign-up-container">
                    <div class="sign-in-form">
                        <EditForm Model="Model" OnValidSubmit="SignUpSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary Model="Model" />

                            <h1 class="text-center">Register</h1>

                            <div class="w-75 m-auto">
                                <input type="email" @bind-value="Model.Email" placeholder="Email" />
                                <input type="text" @bind-value="Model.UserName" placeholder="Username" />
                            </div>

                            <div>
                                <p>@SignUpMessage</p>
                            </div>

                            <div class="w-75 m-auto">
                                @if (Disabled)
                                {
                                    <button id="signUp-panel" class="btn w-75 btn-primary" disabled="@Disabled" type="submit">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                }
                                else
                                {
                                    <button id="signUp-panel" class="btn w-75" type="submit">Sign up!</button>
                                }
                            </div>
                        </EditForm>
                    </div>
                </div>
                <div class="form-container sign-in-container">
                    <div class="sign-in-form">
                        <EditForm Model="Model" OnValidSubmit="SignInSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary Model="Model" />
                            <h1 class="text-center">Login</h1>
                            <div class="w-75 m-auto">
                                <input type="email" @bind-value="Model.Email" placeholder="Email" />
                                <input type="password" @bind-value="Model.Password" placeholder="Password" />
                            </div>
                            <div>
                                <p>@SignInMessage</p>
                            </div>
                            <div class="m-auto text-center">
                                <a href="passwordrecovery">Forgot password?</a>
                            </div>
                            <div class="w-75 m-auto">
                                @if (Disabled)
                                {
                                    <button id="signIn-panel" class="btn btn-block btn-primary w-75" disabled="@Disabled" type="submit">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                }
                                else
                                {
                                    <button id="signIn-panel" class="btn w-75" type="submit">Log in!</button>
                                }
                            </div>
                        </EditForm>
                    </div>
                </div>
                <div class="overlay-container">
                    <label for="show" class="close-btn" @onclick="@(() => { ShowModal = false; })">&times;</label>
                    <div class="overlay">

                        <div class="overlay-panel overlay-left">
                            <h1>ready to start with BRAMR?</h1>
                            <p>Fill in your personal details and start with creating your own online CV or Portfolio.</p>
                            <button class="ghost" id="signIn">Log in</button>
                        </div>

                        <div class="overlay-panel overlay-right">
                            <h1>Hi there! No account?</h1>
                            <p>Register at BRAMR by clicking on the button below.</p>
                            <button class="ghost" id="signUp">Sign Up</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="index.html">Home</a> </li>
                            <li><a href="Templatepagina.html">Templates</a> </li>
                            <li><a href="CVTemplate-beter.html">CV-template</a> </li>
                            <li><a href="PortfolioTemplate.html">Portfolio-template</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overBramr">

    </div>
    <div class="meetMathijs">

    </div>
    <div class="meetRuben">

    </div>
    <div class="meetArt">

    </div>
    <div class="meetBoris">

    </div>
    <div class="meetRobbie">

    </div>
</div>
