@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager nav
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin ReturnUrl="@nav.Uri.Replace(nav.BaseUri, "")" />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Pagina niet gevonden!</h1>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
